gradio~=3.28.3
torch~=1.6.0
torchaudio~=0.6.0
torchvision~=0.7.0
transformers~=3.4.0
sparseconvnet @ git+https://github.com/facebookresearch/SparseConvNet.git@main
facenet_pytorch~=2.3.0
matplotlib
librosa
decord
opencv-python
numpy